* {
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: #fff;
    text-transform: uppercase;
}

.header__top {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu a {
    opacity: 0.5;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
    margin: 10px;
}

.header__menu a:hover {
    opacity: 1;
}

.logo {
    position: top left;
    height: inherit;
}

.header-content {
    padding-top: 111px;
}

.header-content__item-content {
    display: flex;
    justify-content: end;
}

.header-content__item-info {
    text-align: end;
}

.header-content__title {
    width: 30vw;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
}

.header-content__description {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 35px;
}

.header-content_btn {
    opacity: 0.8;
    justify-self: end;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding: 13px 39px;
    background-color: #45523f;
    border-radius: 25px;
    transition: all .5s;
}

.header-content_btn:hover {
    opacity: 1;
}

.reviews {
    background-color: beige;
    background-size: cover;
    padding: 40px 0 80px;
}

.reviews__title {
    color: #000000;
    margin: 0 auto 50px;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}

.reviews__items {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.reviews__item {
    width: 300px;
    border-radius: 5px;
    color: #000000;
    padding: 35px 20px;
}

.reviews_item-head {
    margin-bottom: 13px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.reviews__item-name {
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px 0;
}

.reviews__item-text {
    max-width: 300px;
    align-content: center;
}

/*----------- solutions-------------------*/
.solution {
    width: 100%;
    min-height: 640px;
    background-color: #45523f;
}

.solution__container {
    background-image: url("../images/photo_2022-03-05_17-07-43.jpg");
    max-width: 1168px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.solution__tittle {
    display: block;
    margin: 50px auto 70px;
    height: 68px;
    padding: 10px 0px;

}

.solution__text {
    display: block;
    margin: 0px auto 70px;
    height: 88px;
    padding: 10px 50px;
    text-align: center;

}

.solution__table {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-around;
}

.solution__item {
    width: 25%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution__image {
    width: 60px;
    height: 60px;
}

.solution__qty {
    font-size: 48px;
    color: antiquewhite;
}

.solution__smalltext {
    text-align: center;
    font-size: 18px;
    color: antiquewhite;
}

/*----------- solutions- end-------------------*/

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    color: #fff;
    margin: 0 auto 50px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
}

.footer {
    background-image: url(../images/footer-bg.jpg);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: #fff;
    text-transform: uppercase;
}

/*----------- products- start-------------------*/
.products {
    width: 100%;
    min-height: 640px;
    padding-bottom: 50px;
}

.products__container {
    max-width: 1168px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.products__title {
    display: block;
    margin: 50px auto 70px;
    height: 68px;
    padding: 10px 0px;
}

.products__table {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
}

.products__item {
    max-width: 30%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__name {
    font-size: 24px;
    display: block;
    margin: 20px auto 40px;
    text-align: center;
}

.image-container {
    width: 360px;

}

.products__image {
    width: 100%;
    max-height: 200px;
}

.products__description {
    text-align: center;
}

/*----------- products- end-------------------*/

.page_form {
    display: grid;
    grid-template-columns: 60vw 40vw;
    width: 100vw;
    justify-content: center;
}

.page_form_left {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-areas: 1fr 1fr 1fr;
    justify-items: center;
}

.page_form_right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 1fr 1fr 1fr;
    background-color: #3B4344;
    justify-items: center;
    gap: 10px;
}

.form_header {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 45px;
    grid-row: 1/2;
    justify-items: flex-start;
    padding-top: 20px;
}

.logo_form {
    grid-row: 2/3;
}

.bella_eating {
    grid-row: 3/4;
    width: 450px;
    height: 270px;
}

.discount_phrase {
    grid-row: 1/2;
    color: white;
    margin-top: 80px;
}

.fbutton {
    width: 200px;
    height: 35px;
    background-color: #74ADA5;
    color: white;
    border: none;
}

.fbutton:hover {
    background-color: #33524e;
}

.form {
    color: white;
    outline: none;
    border: none;
    grid-row: 2/4;
    align-items: center;
}

input {
    outline: none;
    margin: 10px;
    align-items: center;
}